.corpus
{
	display:flex;
	flex-direction: column;
	height: 100vh;
}

.corpus
{
	max-width: 500pt;
	text-align: left;
	background-color: white;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
h1{margin: 0;}

.body, h2{
	padding: 15pt;
}

h2
{
	margin: 0;
}

.footer{
	background-color: black;
	padding: 6pt;
	padding-left: 15pt;
	padding-right: 15pt;
	margin-top: 10pt;
	text-align: right;
}

.body
{
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

hr
{
	border: 0;
	border-bottom: 1pt solid black;
	margin: 15pt;
	margin-left: 0;
	margin-right: 0;
}

.questionimg
{
	margin: 15pt;
	border: 1pt solid black;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}

body
{
	font-family: Arial;
	background-color: rgb(58, 110, 165);
}

html, body 
{
	height: 100%;
	margin: 0;
	padding: 0;
}

label, input
{
	margin-bottom: 12pt;
}

label:last-child, input:last-child
{
	margin-bottom: 0;
}

p, form, h2, h3, h1
{
	font-size: 12pt;
}


h2
{
	background-color: black;
	color: white;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

h3
{
	color: darkblue;
}